
POSTGRES_USER=ai_mentor
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ai_mentor_db
POSTGRES_DSN=postgresql://ai_mentor:postgres@postgres:5432/ai_mentor_db
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/ai_mentor?retryWrites=true&w=majority
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
S3_ENDPOINT_URL=http://localhost:4566
